<!--  http://campus.codeschool.com/courses/digging-into-django/level/1/section/3/adding-a-parent-template 
Task 2/3
    We also need to add the block content tags to home.html. The opening tag can go before 
the first line where we create the row. 
And the closing tag can go at the bottom of the file after all of the homepage-specific code.
3/3
  We went ahead and did the same things for detail.html. But we also need to use the load tag to load staticfiles, 
since the detail page uses the static images as icons. We can add this right below the extends tag.
-->

{% extends 'base.html' %}
      {% block content %}

<div class="row">
    {% for location in locations|dictsort:'name' %}
    <div class="col-md-3">
        <a href="/{{ location.id }}/">
            <div class="tracker panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ location.name }}</h2>
                </div>
                <div class="panel-body">
                    <div class="tracker-photo">
                        <img src="{{ location.img_url }}" alt="" height="300" />
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

      {% endblock %}

